<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <div *ngFor="let users of usersList" class="list list-row block">
                    <div class="list-item" data-id="19">
                       
                        <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">{{ users.payload.doc.data().lastname }}  {{ users.payload.doc.data().firstname }}</a>
                            <div class="item-except text-muted text-sm h-1x">Status: online. wilt met een coach chatten</div>
                        </div>
                     
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>