
      <!--  <section class="container mt-nav">
            <article class="introDiv flex row space-between">
                <section class="flex column ">
                    -->
                    
                    <div class="divMid">
                    <div>
                        <h1 class="introTekst">PROTOTYPE ONBOARDING</h1>
                        <p class="intro">Get started on your journey now.</p>
                        
                    </div> 
                    
                   

                    <div class="buttons">
                    <button class="homeBtn" (click)="login()">Login</button>
                        <button class="homeBtn" (click)="register()">Register</button>
                    </div>
<!--
                    <section class="flex-end flex">
                        <div class="flex row w-100 flex-end"><img class="portrait" src="/assets/images/spacebgPng.png">
                        </div>
                    </section>
-->
                    
                </div>
                    <!--
                </section>
            </article>
        </section>
      -->